.carousel-horoscopo{
    margin-bottom: 5%;
}
.background-image-horoscopo img{
    max-height: 70vh;
    object-fit: cover;
    position: relative;
    width: 100vw;
}
.title-horoscopo{
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
    padding-top: 5%;
}
.zodiac-container img{
    width: 100%;
    height: auto !important;
    object-fit: scale-down !important;
}
.img-container-horoscopo{
    display: flex;
    
}
.zodiac-text{
    color: rgba(236, 236, 53, 0.897);
    line-height: 0.8;
    padding-right: 10%;
}
.row-horoscopo{
    justify-content: start !important;
}
.card-horoscopo img{
    background-color: rgb(50, 48, 80) !important;
    padding: 5%;
}
@media (min-width:500px){
    .zodiac-text{
        padding-top: 10%;
        padding-left: 0;
    }
    .img-container-horoscopo{
        padding-left:15% ;
        padding-bottom: 15%;
        padding-right: 3%;
        
    }
    .zodiac-text p{
        padding-right: 40%;
    }
}