/* HEADER */
:root{
    --bs-dark-rgb: 33,37,41;
}
.header-container img{
    width: 60px;
}
.nav-item {
    color: rgb(255, 255, 31) !important;
    font-weight:800 !important;
    text-shadow:0 0 10px rgb(255, 255, 17) !important;
}
.cart-item img{
    max-width: 30px;
    margin: 10px;
}
.cart-item:hover{
    background: radial-gradient(rgb(247, 247, 59) ,rgb(33,37,41)20px);
    border-radius: 50%;
}
/* ----MAIN----- */
#main{
    background-color:rgb(76, 81, 85);
}
.title-section{
    display: flex;
    justify-content: center;
}
.title-section a{
    text-decoration: none;
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.title-section h2{
    text-decoration: none;
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.title-section h2{
    text-align: center;
    padding-top: 3%;
}
#main .carousel-item img{
    height:50vh ;
    object-fit: cover;
    filter: grayscale(50%);
}
.carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.carousel{
    position: relative;
    box-shadow: 0px 10px 30px rgba(7, 7, 7, 0.712);
}
#carousel h5 {
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
    margin: 0;
}
#carousel-chamanes h5{
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
    margin: 0;
}
#carousel-botanica h5{
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
    margin: 0;
}
.box-carousel-info{
    height: 100%;
    padding: 0;
    padding-top: 10%;
}
/* --------------------------------- */
.row{
    padding: 0;
    width: 100%;
    margin: 0;
}
.title h2{
    text-shadow: -5px 0px 5px rgba(51, 51, 51, 0.712) ;
}

.testimonios-container {
    padding: 10px;
}
.card{
    background-color: rgb(33,37,41);
    box-shadow: -10px 0px 10px rgba(7, 7, 7, 0.712);
}
.card-title{
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.card-text{
    color: whitesmoke;
}
.footer{
    background-color: rgba(var(--bs-dark-rgb));
    padding: 20px;
}
.list-style{
    text-decoration: none;
    color: rgba(241, 241, 99, 0.897);
}
h6 a:hover{
    color: rgb(255, 255, 17);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.formulario-testimonio{
    background-color: rgba(var(--bs-dark-rgb));
    padding: 10px;
    padding-bottom: 20px;
}
.title-form h2{
    color: white;
}
.form-label{
    color: white;
}
.box-row-formulario{
    justify-content: center;
}
.btn{
    background-color:rgba(250, 250, 50, 0.897) ;
    border: none;
    color: black;
    border-radius: 10px;
}
.donate-button-container button{
    background-color:rgba(250, 250, 50, 0.897);
    border-radius: 8px;
}
.donate-button-container button:hover{
    color:rgb(255, 255, 17) ;
    box-shadow:0 0 10px  rgb(255, 255, 17);
}
.donate-button-container a{
    text-decoration:none ;
    color: black;
    font-weight: 800;
}
.box-video{
    justify-content: center;
}
