/* HEADER */
:root{
    --bs-dark-rgb: 33,37,41;
}
.header-container img{
    width: 60px;
}
.nav-item {
    color: rgb(255, 255, 31) !important;
    font-weight:800 !important;
    text-shadow:0 0 10px rgb(255, 255, 17) !important;
}
/* ----MAIN----- */
#main .carousel-item img{
    max-height:70vh ;
    object-fit: cover;
    filter: grayscale(50%);
}
#carousel h5 {
    position: relative;
    color: rgba(236, 236, 53, 0.897);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.prueba{
    height: 100% !important;
}

/* #carousel .overlay .overlay-container,
#carousel .overlay .row {
    height: 100%; 
} */
.space{
    padding: 10px;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.712), white);
}
.row{
    padding: 0;
    width: 100%;
    margin: 0;
}
.title h2{
    text-shadow: -5px 0px 5px rgba(51, 51, 51, 0.712) ;
}

.testimonios-container {
    padding: 10px;
}
.footer{
    background-color: rgba(var(--bs-dark-rgb));
    padding: 20px;
}
.list-style{
    text-decoration: none;
    color: rgba(241, 241, 99, 0.897);
}
h6 a:hover{
    color: rgb(255, 255, 17);
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.formulario-testimonio{
    background-color: rgba(var(--bs-dark-rgb));
    padding: 10px;
    padding-bottom: 20px;
}
.title-form h2{
    color: white;
}
.form-label{
    color: white;
}
.box-row-formulario{
    justify-content: center;
}
.btn{
    background-color:rgba(250, 250, 50, 0.897) ;
    border: none;
    color: black;
}
#boton-testimonio:hover{
    color:rgb(255, 255, 17) ;
    text-shadow:0 0 10px  rgb(255, 255, 17);
}
.donate-button-container button{
    background-color:rgba(250, 250, 50, 0.897);
    border-radius: 8px;
}
.donate-button-container button:hover{
    color:rgb(255, 255, 17) ;
    box-shadow:0 0 10px  rgb(255, 255, 17);
}
.donate-button-container a{
    text-decoration:none ;
    color: black;
    font-weight: 800;
}
.box-video{
    justify-content: center;
}
